a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.estiloBrand {
  font-size: 2rem;    
  font-weight: bold;
  color: #D69C79;  
}

.estiloMenu {
  font-size: 1rem;    
  color: #D69C79!important;
  font-weight: bold;
}

.fondoColorNavBar {
  background-color: #E4DCD8;
}

/* Ini ItemListContainer */
.styleItemListContainer {
  color: #D69C79;
}
/* Fin ItemListContainer */

/* Ini Container de icono cart bag */
.containerIconCart {
  position: relative;
}

.styleCart {
  color: #D69C79;
  font-weight: bold;
  font-size: 2.5rem;
}

.styleBubble {
  color: #D69C79;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;  
  border: 1px solid #D69C79; 
  background-color: #f0edec;
  height: 1.2rem;
  width: 1.2rem;
  top: 10%;
  left: 70%;
  display: flex;
  justify-content: center;
  align-items: center ;
  position: absolute;  
}
/* Ini Container de icono cart bag */

/*Estos son los colores de la marca by danny*/
.colores {
  color: #E4DCD8;
  color: #D69C79;
  color: #E7D0C1;
  color: #C1B0A8;     
}

/* estilos por desafio de agregar contador */
.styleButton {  
  border: 1px solid #D69C79;
  border-radius: 3px;
  color: #D69C79;
  font-size: 0.7rem;
  font-weight: bold;
}

.styleCartContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: baseline;
  height: 1.5rem;

}

.styleSpan {
  font-size: 0.9rem;
  color: #D69C79;
}
/* para pruebas */
 /* .bordeAzul {
     border: 1px solid #230985;    
 }

 .bordeRojo {
     border: 1px solid #f70c0c;
 }

 .bordeAmarrillo {
     border: 1px solid #f1c70c;
 }

 .bordeVerde {
    border: 1px solid #08eb08;
 }  */